// Variables
$website-width: 1280px;
$main-color: #eeccc6;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$action-color: #eb4a52;
$bg-image: url('../img/showcase.jpg');

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
